/* reset, .clearfix */
abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,form,h1,h2,h3,h4,h5,h6,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;list-style-type: none;
}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}svg{overflow:hidden}
.clearfix:after, .wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* defaults */
body {
	background: #fff;
	color: #000;
	font: 18px 'old-standard', serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
strong {
	font-weight: normal;
}
.wrapper {
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
}
a {
	text-decoration: underline;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
     html {
        -webkit-text-size-adjust: none;
     }
}

/* header */
header { 	
	background: red;
	padding: 20px;
	color: #fff;
	max-width: none;
	min-width: 780px;
}
header p, header h1 {
	display: inline;
	line-height: 20px;
}
header h1 {
	font-family: "jaf-peacock", sans-serif;
}
header p:last-of-type {
	margin-top: 20px;
}
header p a {
	color: #fff;
}
@media (min-width: 800px) {
	header { 	
		transform: rotate(-90deg);
		transform-origin: 100% 0;
		position: fixed;
		left: 0;
		top: 0;
		margin-left: -100vh;
		max-width: calc(100vh - 40px);
		min-width: 0;
	}
}

/* timeline */
.canvas-container {
	position: relative;
	width: 780px;
	margin: 0 auto;
}
@media (max-width: 800px) {
	.canvas-container {
		left: 0 !important; /* override centering when header is not on the side */
	}
}
header p {
	max-width: none;
}
canvas {
	left: 0;
	top: 0;
}
.timeline-wrapper {
	text-align: center;
	margin: 0 auto;
	padding: 140px 0 0 0;
}
.timeline-element {
	margin: 0 auto 140px auto;
	position: relative;
}


.timeline-element:after {
	content: "↓";
	position: absolute;
	bottom: -100px;
	color: red;
	font-size: 2em;
	margin-left: -10px;
}
.timeline-eighth-element:after {
	display: none;
}
.timeline-third-element:after {
	top: auto;
	bottom: 480px;
	left: 160px;
	transform: rotate(45deg);
}
.timeline-third-element:before {
	content: "↓";
	position: absolute;
	color: red;
	top: auto;
	bottom: 480px;
	right: 160px;
	transform: rotate(-45deg);
	font-size: 2em;
}
.timeline-fourth-element:after {
	transform: rotate(-45deg);
}
.timeline-fifth-element:after {
	transform: rotate(45deg);
}



.timeline-child {
	margin-top: 140px;
}
.timeline-active {
	font-family: "jaf-peacock", sans-serif;
	color: red;
}
.timeline-child .timeline-element {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: top;
}
.timeline-child .timeline-element:nth-child(1) {
	margin-right: 80px;
	margin-left: 0;
}
.timeline-child .timeline-element:nth-child(2) {
	margin-left: 80px;
	margin-right: 0;
}
.timeline-element p {
	margin: 20px auto 0 auto;
	max-width: 300px;
	text-align: left;
	font-size: 1em;
}
.timeline-child .timeline-element a {
	color: red;
}