/* reset, .clearfix */
abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,form,h1,h2,h3,h4,h5,h6,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;list-style-type: none;
}html,body{height:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,strong{font-weight:bold}img{font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}svg{overflow:hidden}
.clearfix:after, .wrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* defaults */

body {
	background: #fff;
	color: #000;
	font: 18px 'old-standard', serif;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
strong {
	font-weight: normal;
}
.wrapper {
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
}
a {
	text-decoration: underline;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
img {
	max-width: 100%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
     html {
        -webkit-text-size-adjust: none;
     }
}

/* header */
header { 
	max-width: 300px;
	background: linear-gradient(to right, red 0%,#ffffff 100%);
	padding: 20px;
	color: #fff;
	max-width: none;
}
header h1 {
	font-family: "jaf-peacock", sans-serif;
}
@media (min-width: 1000px) {
	header {
		position: absolute;
		top: 0;
		max-width: 300px;
	}
}

/* timeline */
.timeline-wrapper {
	text-align: center;
	margin: 60px 0;
}
.timeline-element {
	margin-bottom: 60px;
}
.timeline-child {
	margin-top: 60px;
}
.timeline-child .timeline-element:nth-child(1) {
	margin-left: -120px;
}
.timeline-child .timeline-element:nth-child(2) {
	margin-right: -120px;
}
.timeline-active {
	font-family: "jaf-peacock", sans-serif;
}
@media (min-width: 550px) {
	.timeline-child .timeline-element {
		display: inline-block;
		margin-bottom: 0;
	}
	.timeline-child .timeline-element:nth-child(1) {
		margin-right: 80px;
	}
	.timeline-child .timeline-element:nth-child(2) {
		margin-left: 80px;
	}	
}